:root {
  --green: rgb(41, 252, 41);
  --yellow: rgb(252, 248, 41);
  --red: rgb(230, 26, 26);
  --black: #333;
  --lightPosition: 33.334%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-size:24px;
  background:#fbfbfb;
  overflow:hidden;
}

.intersections {
  position:relative;
  display:flex;
  flex-wrap:wrap;
  background: linear-gradient(45deg, #7ad173, #afcf53);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0, 0.5);
}

.intersection {
  position:relative;
  width:15em;
  height:15em;
}

.phase {
  position:absolute;
  top:0;
  left:0;
  margin:.5em;
  color:white;
}

.street {
  position: absolute;
  background:var(--black);
  width: 1em;
  top: 0;
  left: 50%;
  height: 100%;
}

.trafficLight:before,
.trafficLight:after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
}


.trafficLight:after {
  position: absolute;
  transform: translate(calc(var(--lightPosition)*-1), calc(var(--lightPosition)*-1));
  top: var(--lightPosition);
  left: var(--lightPosition);
}

.trafficLight:before {
  position: absolute;
  transform: translate(var(--lightPosition), var(--lightPosition));
  bottom: var(--lightPosition);
  right: var(--lightPosition);
}

.trafficLight.green:before,
.trafficLight.green:after  {
  background:var(--green);
}

.trafficLight.yellow:before,
.trafficLight.yellow:after {
  background: var(--yellow);
}

.trafficLight.red:before,
.trafficLight.red:after {
  background: var(--red);
}

.street.ns {
  transform: translate(-50%, 0)
}

.street.ew {
  height:1em;
  width:100%;
  left:0;
  top:50%;
  transform: translate(0%, -50%)
}
.street.ns .streetName {
  position: absolute;
  top: -2em;
  white-space: nowrap;
  transform: translate(-50%, 0);
}

.street .direction {
  color:white;
}

.street .leftArrow {
  color:var(--black);
  white-space: nowrap;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:.75em;
  line-height:1;
  height:1.5em;
  width:1.5em;
  background:var(--green);
  border-radius:100%;
  box-shadow: 0px 0px 20px -5px rgba(0,0,0, 0.5);
}


.street.ns .leftArrow {
  position:absolute;
  top:var(--lightPosition);
  left:var(--lightPosition);
}

.street.ew .leftArrow {
  position:absolute;
  top:var(--lightPosition);
  left:var(--lightPosition);
  transform:rotate(-90deg);
}